<%= simple_form_for @card, as: :card, html: { class: 'form-horizontal' },
    wrapper: :horizontal_form do |f| %>

  <%= f.error_notification %>

  <%= f.input :original_text, placeholder: 'Enter text' %>
  <%= f.input :translated_text, placeholder: 'Enter text' %>
  <div align="right">
    <%= f.button :submit %>
  </div>

<% end %>
