<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>
<%= simple_form_for :card, url: { action: 'check_card', controller: 'cards' } do |f| %>
  <%= f.label @card.translated_text, required: false, as: :text %>
  <%= f.input_field :original_text, required: false, value: '' %>
  <%= hidden_field_tag 'id', @card.id %>
  <%= f.button :submit, 'Check card' %>
<% end %>
