<h3>List flashcards:</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Original</th>
      <th>Translate</th>
      <th>Review date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date.strftime('%d/%m/%Y') if  !card.review_date.nil? %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %> |
            <%= link_to 'Delete', card_path(card),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
