<div class="panel panel-primary">
  <div class="panel-heading"><h4>List flashcards:</h4></div>
  <table class="table table-hover table-bordered">
    <thead>
      <tr class='info'>
        <th>Original</th>
        <th>Translate</th>
        <th>Review date</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |card| %>
        <tr>
          <td><%= card.original_text %></td>
          <td><%= card.translated_text %></td>
          <td><%= card.review_date.strftime('%d/%m/%Y') unless card.review_date.nil? %></td>
          <td align="center"><%= link_to 'Edit', edit_card_path(card) %></td>
          <td align="center">
            <%= link_to 'Delete', card_path(card),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
